#navigation img{
  width:6%;
    
}

#center img{
  width:99%;
  
  
}
#navigation {
background-color: maroon;
}

#navigation li a{
  background-color: white;
  border:3px solid black;
  margin-left:1rem;
  color: black;
  
}

#contact h1{
  padding:2rem;
  border:3px solid black;
  font-family: 'Charmonman', cursive;
  
}
#contact h3{
  padding:2rem;
  border:3px solid black;
   font-family: 'Charmonman', cursive;
}


